.why-us-head{
    text-align: center;
    font-size: 2vw;
    margin-bottom: 0;
}
.why-us-para{
    text-align: center;
    font-size: 1.2vw;
}
.blue-line-whyus{
    background:linear-gradient(to right,rgba(58, 120, 201, 1),rgba(139, 63, 234, 1));
    height: 0.5vw;
    width: 5%;
    border-radius: 2vw;
    margin-left: 52vw;
    margin-top: 0;
}
.why-us-image-container{
    background-color: rgba(205, 234, 255, 1);
    width: max-content;
    padding: 1.2vw;
    border-radius: 150%;
}
.why-us-image-container img{
    height: 2.7vw;
    width: 3vw;
}
.why-us-each-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2vw;
}
.why-us-content-container h1{
    font-size: 1.2vw;
    text-align: center;
}
.why-us-content-container p{
    font-size: 1vw;
    text-align: center;
}
.why-us-flex-container{
    display: flex;
    justify-content: center;
}