.explore-page-form-container{
    width: 35%;
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 0.5vw;
}
.form-head{
    font-size: 2vw;
    text-align: center;
}
.explore-page-form-inputs input{
    width: 70%;
    height: 3vw;
    background-color: white;
    border: none;
    border-radius: 0.5vw;
    margin-bottom: 1vw;
    padding-left: 1vw;
    margin-left: 4.5vw;
    font-size: 1vw;
}
.explore-page-form-inputs label{
    font-size: 1.2vw;
    margin-left: 4.5vw;
}
.explore-page-submit-button-container{
    display: flex;
    justify-content: center;
}
.explore-page-submit-button-container button{
    background-color: rgba(58, 120, 201, 1);
    color: white;
    font-size: 1.3vw;
    height: 3vw;
    width: 20%;
    border: none;
    border-radius: 1vw;
}


.featured-tour-container{
    height: 40vw;
    background-color: rgb(255, 255, 255);
    width: 25%;
    border-radius: 1vw;
    box-shadow: 1px 1px 10px rgb(189, 187, 187);
    position: relative;
    margin-bottom: 1.5vw;
    margin-right: 3vw;
}
.featured-tour-image-container{
    width: 100%;
    height: 40%;
}

.featured-tour-image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1vw;
}
.featured-tours-container{
    margin-top: 2vw;
}
.time-for-days{
    background:linear-gradient(to right,rgba(58, 120, 201, 1),rgba(136, 66, 233, 1));
    position: absolute;
    color: white;
    padding: 0.5vw;
    border-radius: 0.5vw;
    top: 5%;
    right: 3%;
}

.featured-tour-heading{
    font-size: 1.3vw;
    justify-content: center;
}
.featured-tour-heading-container{
    padding: 1vw;
    box-shadow: 1px 1px 10px rgb(192, 192, 192);
    width: 70%;
    border-radius: 1vw;
    position: absolute;
    top: 35%;
    background-color: white;
    left: 10%;
}

.small-background-conatiner{
    background-color: rgba(217, 217, 217, 1);
    height: 3vw;
    width: 12%;
    border-radius: 10vw;
    margin-top: 5vw;
    margin-left: 1vw;
}
.hotels-container img {
    height: 1.5vw;
    padding: 0.5vw;
    box-shadow: 1px 1px 10px rgb(209, 208, 208);
    border-radius: 5vw;
}
.hotels-container p{
    font-size: 1vw;
    margin-top: 0;
}
.hotels-container{
    margin-right: 2vw;
}
.transport-container img {
    height: 1.5vw;
    padding: 0.5vw;
    box-shadow: 1px 1px 10px rgb(209, 208, 208);
    border-radius: 5vw;
}
.transport-container p{
    font-size: 1vw;
    margin-top: 0;
}
.stay-container{
    display: flex;
    margin-left: 1vw;
}
.feature-price{
    color: rgba(58, 120, 201, 1);
    font-size: 1.5vw;
    margin-bottom: 0;
}
.price-container{
    margin-right: 2vw;
}
.stay-and-price-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
}
.feature-person{
    font-size: 1vw;
    margin-top: 0;
    padding-top: 0;
    margin-left: 2vw;
}
.featured-tour-hr-line{
    border: none;
    height: 0.1vw;
    background-color: rgba(193, 193, 193, 1);
    width: 90%;
}
.featured-paragraph{
    font-size: 0.7vw;
    text-align: center;
}
.contact-us-view-details-container{
    display: flex;
    justify-content: space-between;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}
.feature-tour-contactus{
    background-color: rgba(229, 229, 229, 1);
    text-decoration: none;
    color: black;
    padding: 0.8vw;
    border-radius: 1.5vw;
}
.feature-tour-view-details{
    background-color: rgba(58, 120, 201, 1);
    text-decoration: none;
    color: white;
    padding: 0.8vw;
    border-radius: 1.5vw;
}

.featured-tours-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}