.contactus-background-image{
    background-image: url("../../assets/Images/contactusimages/contactusback.svg");
    background-size: cover;
    height: 45vw;
    padding-top: 2vw;
}

.contact-us-heading-top{
    text-align: center;
    font-size: 3vw;
    color: white;
}
.contact-us-paragraph-top{
    text-align: center;
    color: white;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.3vw;
}
.contact-us-top-section{
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-us-heading{
    text-align: center;
    color: rgba(0, 100, 191, 1);
    font-size: 2vw;
    margin-bottom: 0;
}
.contact-us-blue-line{
    background: linear-gradient(to right, rgba(58, 120, 201, 1),rgba(139, 63, 234, 1));
    height: 0.3vw;
    width: 6%;
    border-radius: 2vw;
    margin-left: 49vw;
    margin-top: 0;
}
.contact-us-image-container{
    width: 47%;
}
.contact-us-image-container img{
    width: 95%;
}
.contact-us-content-container{
    width: 48%;
}
.contact-us-content-image-container{
    display: flex;
    justify-content: space-around;
}
.contact-us-duti-heading{
    font-size: 2vw;
    margin-left: 3vw;
}
.contact-us-address-container h2{
    color: rgba(0, 100, 191, 1);
    font-size: 1.7vw;
}
.contact-us-address-container{
    width: 60%;
    font-size: 1.2vw;
}
.contact-us-address-container h3{
    color: rgba(0, 100, 191, 1);
    font-size: 1vw;
}
.contact-us-address-container{
    margin-left: 5vw;
}
.icon{
    color: rgba(0, 100, 191, 1);
    font-size: 1vw;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(158, 158, 158);
    padding: 1vw;
    border-radius: 100%;
    margin-right: 1vw;
    margin-top: 2vw;
}
.contact-us-flex-container{
    display: flex;
}
.contact-us-flex-container h3{
    color:rgba(0, 100, 191, 1);
    font-size: 1vw;
}
.contact-us-flex-container p{
    font-size: 1.2vw;
}
.contact-us-map-container{
    width: 90%;
    height: 40vw;
}