.tour-page-sub-tours-heading{
    font-size: 2vw;
    text-align: center;
    margin-bottom: 0;
}
.tour-page-blue-line{
    height: 0.3vw;
    background: linear-gradient(to right,rgba(58, 120, 201, 1),rgba(139, 63, 234, 1));
    width: 8.5%;
    border-radius: 2vw;
    margin-left: 60vw;
    margin-top: 0;
}
.tour-page-sub-tour-each-container{
    height: 40vw;
    width: 25%;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: 1px 1px 10px rgb(194, 194, 194);
    border-radius: 0.5vw;
    margin-right: 5vw;
}
.tour-page-sub-tour-image-container{
    height: 50%;
    width: 100%;
    border-radius: 0.5vw;
}
.tour-page-sub-tour-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5vw;
}
.sub-tours-each-tour-heading{
    background-color: white;
    width: 82%;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    padding: 0.5vw;
    position: absolute;
    top: 43%;
    left: 7%;
    border-radius: 0.5vw;
    box-shadow: 1px 1px 10px rgb(180, 180, 180);
}
.tour-page-small-background-conatiner{
    background-color: rgba(217, 217, 217, 1);
    height: 3vw;
    width: 12%;
    border-radius: 10vw;
    margin-top: 3vw;
    margin-left: 1vw;
}

.tour-page-hotels-container img {
    height: 1.5vw;
    padding: 0.5vw;
    box-shadow: 1px 1px 10px rgb(209, 208, 208);
    border-radius: 5vw;
}
.tour-page-hotels-container p{
    font-size: 1vw;
    margin-top: 0;
}
.tour-page-hotels-container{
    margin-right: 2vw;
}
.tour-page-transport-container img {
    height: 1.5vw;
    padding: 0.5vw;
    box-shadow: 1px 1px 10px rgb(209, 208, 208);
    border-radius: 5vw;
}
.tour-page-transport-container p{
    font-size: 1vw;
    margin-top: 0;
}
.tour-page-stay-container{
    display: flex;
    margin-left: 1vw;
}
.tour-page-feature-price{
    color: rgba(58, 120, 201, 1);
    font-size: 1.5vw;
    margin-bottom: 0;
}
.tour-page-price-container{
    margin-right: 2vw;
}
.tour-page-stay-and-price-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
}
.tour-page-feature-person{
    font-size: 1vw;
    margin-top: 0;
    padding-top: 0;
    margin-left: 2vw;
}
.tour-page-featured-tour-hr-line{
    border: none;
    height: 0.1vw;
    background-color: rgba(193, 193, 193, 1);
    width: 90%;
}
.tour-page-featured-paragraph{
    font-size: 0.7vw;
    text-align: center;
}
.tour-page-contact-us-view-details-container{
    display: flex;
    justify-content: space-between;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}
.tour-page-feature-tour-contactus{
    background-color: rgba(229, 229, 229, 1);
    text-decoration: none;
    color: black;
    padding: 0.8vw;
    border-radius: 1.5vw;
    font-size: 1.1vw;
}
.tour-page-feature-tour-view-details{
    background-color: rgba(58, 120, 201, 1);
    text-decoration: none;
    color: white;
    padding: 0.8vw;
    border-radius: 1.5vw;
    font-size: 1.1vw;
}
.tour-page-time-for-days{
    background:linear-gradient(to right,rgba(58, 120, 201, 1),rgba(136, 66, 233, 1));
    position: absolute;
    color: white;
    padding: 0.5vw;
    border-radius: 0.5vw;
    top: 5%;
    right: 3%;
    font-size: 1.1vw;
}

.tour-page-sub-tours-main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}