.footer-container{
    width: 20%;
    margin-left: 2vw;
}
.footer-container h1{
    font-size: 1.3vw;
    color: white;
}
.footer-container p{
    font-size: 1vw;
    color: white;
}
.footer-background-container{
    display: flex;
    justify-content: center;
}
.white-line-footer{
    background-color: rgba(119, 126, 127, 1);
    height: 10vw;
    width: 0.1%;
}
.copy-right{
    text-align: center;
    font-size: 1.5vw;
    color: white;
}
.footer-main-container{
    background-image: url('../../assets/Images/footer.png');
    background-size: cover;
    margin-top: 2vw;
    padding-bottom: 1vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-main-container hr{
    width: 90%;
    text-align: center;
}